<!-- <ng-include src="'navbar/views/navbar.view.html'" /></ng-include> -->

<section data-ng-controller="ArchivosController">
  <br>
  <a href="#!/archivos">Lista de Archivos</a>
  <br>
  <h2>ARCHIVOS</h2>
  <h3>Crear Archivo</h3>

  <form ng-submit="create()">
    <label>Nombre</label>
    <input type="text" ng-model="archivo.nombre" required>
    <label>Descripcion</label>
    <input type="text" ng-model="archivo.descripcion" required>
    <label>Ubicacion</label>
    <input type="text" ng-model="archivo.ubicacion" required>
    <button type="submit">Save</button>
    <a href="#!/archivos">Cancel</a>
  </form>

  <div>
    <button ng-click="openAngularApp()">Abrir App Angular</button>
    <button ng-click="sendMessage()">Enviar mensaje a Angular</button>
    <p>Mensaje de Angular: {{messageFromAngular}}</p>
    <iframe id="angularApp" src="http://localhost:4200" width="100%" height="500"></iframe>

    <!-- <iframe src="http://localhost:4200" width="560" height="315" frameborder="0" name="video"
      sandbox="allow-scripts allow-same-origin" allow="fullscreen">
    </iframe> -->
  </div>

</section>