<!-- <ng-include src="'navbar/views/navbar.view.html'" /></ng-include> -->

<section data-ng-controller="ArchivosController" ng-init="findOne()">
  <br>
  <a href="#!/archivos">Lista de Archivos</a>
  <br>
  <h2>ARCHIVOS</h2>
  <h3>Detalles Archivo</h3>

  <p><strong>ID:</strong> {{ archivo._id }}</p>

  <p><strong>Nombre:</strong> {{ archivo.nombre }}</p>
  <p><strong>Descripcion:</strong> {{ archivo.descripcion }}</p>
  <p><strong>Ubicacion:</strong> {{ archivo.ubicacion }}</p>
  <!-- <p><strong>Fecha de Creacion:</strong> {{ archivo.created }}</p> -->

</section>