<!-- <ng-include src="'navbar/views/navbar.view.html'" /></ng-include> -->
<!-- <section data-ng-controller="ArchivosController"> -->

<section data-ng-controller="ArchivosController">
  <br>
  <a href="#!/archivos/create">Crear Archivo</a>
  <h2>ARCHIVOS</h2>
  <h3>Lista de Archivos</h3>

  <!-- <style>
    table {
      border-collapse: collapse;
      width: 60%;
    }
    th, td {
      border: 1px solid black;
    }
  </style> -->

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Ubicación</th>
        <th>Fecha de Creación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="archivo in archivos">
        <td>{{ archivo.nombre }}</td>
        <td>{{ archivo.descripcion }}</td>
        <td>{{ archivo.ubicacion }}</td>
        <td>{{ archivo.fechaCreacion }}</td>
        <td>
          <a href="#!/archivos/{{ archivo._id }}">Ver</a>
          <a href="#!/archivos/{{ archivo._id }}/edit">Editar</a>
          <a href="#!/archivos/{{ archivo._id }}/delete">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- 
  <ul>
    <li ng-repeat="archivo in archivos">{{ archivo.nombre }}</li>
  </ul> -->

</section>