<!-- <ng-include src="'navbar/views/navbar.view.html'" /></ng-include> -->

<section data-ng-controller="ArchivosController">
  <br>
  <a href="#!/archivos">Lista de Archivos</a>
  <br>
  <h2>ARCHIVOS</h2>
  <h3>Crear Archivo</h3>

  <form ng-submit="create()">
    <label>Nombre</label>
    <input type="text" ng-model="archivo.nombre" required>
    <label>Descripcion</label>
    <input type="text" ng-model="archivo.descripcion" required>
    <label>Ubicacion</label>
    <input type="text" ng-model="archivo.ubicacion" required>
    <button type="submit">Save</button>
    <a href="#!/archivos">Cancel</a>
  </form>

</section>